<html dir="ltr" lang="en">

<head>

    <title>Learn Graduation</title>

    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, user-scalable=1, minimum-scale=1, maximum-scale=5"
        name="viewport">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">

    <link rel="stylesheet" href="../css/style.css">

    <link rel="manifest" href="../manifest.json">
    

</head>
