<%- include("partials/header"); -%>
<h1>Compose</h1>
<form action="/submit" method="post">
    <div class="form-group">
        <label for="purl" charset="UTF-8">Post Url</label>
        <input class="form-control" type="text" name="purl" placeholder="enter custom url without space" required>
        <label for="postTitle">Title</label>
        <input class="form-control" type="text" name="postTitle" placeholder="Post Title" required>
        <label for="postBody">Post</label>
        <textarea class="form-control" name="postBody" id="postContent" rows="2" cols="40"></textarea>
    </div>

    <button class=" btn btn-primary" type="submit" name="button">Publish</button>
</form>
<a class="btn btn-primary" href="../logout">Logout</a>
<%- include("partials/footer"); -%>