<main class="blogItm mainbar">
  <div class="section" id="main-widget">
    <div class="widget HTML" data-version="2" id="HTML93">
      <div class="widget-content">
        <div class="adB" data-text="Ads go here"></div>
      </div>
    </div>
    <div class="widget Blog" data-version="2" id="Blog1">
      <div class="blogPts">



        <article class="ntry ps post">
          <!-- bradecam -->
          <div class="brdCmb" itemscope="itemscope" itemtype="https://schema.org/BreadcrumbList">
            <div class="hm" itemprop="itemListElement" itemscope="itemscope" itemtype="https://schema.org/ListItem">
              <a href="https://learngraduation.blogspot.com/" itemprop="item"><span itemprop="name">Home</span></a>
              <meta content="1" itemprop="position">
            </div>
            <div class="lb" itemprop="itemListElement" itemscope="itemscope" itemtype="https://schema.org/ListItem">
              <a href="https://learngraduation.blogspot.com/search/label/Bsc" itemprop="item"><span
                  itemprop="name">Bsc</span></a>
              <meta content="2" itemprop="position">
            </div>
            <div class="lb" itemprop="itemListElement" itemscope="itemscope" itemtype="https://schema.org/ListItem">
              <a href="https://learngraduation.blogspot.com/search/label/Mathematics" itemprop="item"><span
                  itemprop="name">Mathematics</span></a>
              <meta content="3" itemprop="position">
            </div>
          </div>
          <h1 class="pTtl aTtl sml itm">
            <span>
              Boolean Algebra Notes PDF 📑 Download
            </span>
          </h1>
          <div class="pDesc">Boolean algebra is the category of algebra in which the variable’s values are the truth
            values, true and false, ordinarily denoted 1 and 0 resp.......</div>
            <!-- post profile writer of post -->
          <div class="pInf pSml ps">
            <div class="pIm">
              <div class="im lazy lazy loaded"
                data-style="background-image: url(//2.bp.blogspot.com/-oug9Ov-nEv4/YPAvjB73VgI/AAAAAAAAACw/dXeqmhAqIqcwKwPCxPPkPb8EB1OZ1DJpgCK4BGAYYCw/w40-h40-p-k-no-nu/logo.png)"
                lazied=""
                style="background-image: url(&quot;//2.bp.blogspot.com/-oug9Ov-nEv4/YPAvjB73VgI/AAAAAAAAACw/dXeqmhAqIqcwKwPCxPPkPb8EB1OZ1DJpgCK4BGAYYCw/w40-h40-p-k-no-nu/logo.png&quot;);">
              </div>
              <noscript>
                <div class='im'
                  style='background-image: url(//2.bp.blogspot.com/-oug9Ov-nEv4/YPAvjB73VgI/AAAAAAAAACw/dXeqmhAqIqcwKwPCxPPkPb8EB1OZ1DJpgCK4BGAYYCw/w40-h40-p-k-no-nu/logo.png)'>
                </div>
              </noscript>
            </div>
            <div class="pNm">
              <bdi class="nm" data-text="AgniPro" data-write="Oleh"></bdi>
              <div class="pDr">
                <bdi class="pDt pIn">
                  <time class="aTtmp pTtmp pbl" data-text="April 8, 2023" data-time="Apr 8, 2023"
                    datetime="2023-04-08T10:28:00+05:30" title="Published: April 8, 2023"></time>
                </bdi>
                <div class="pRd pIn"><bdi id="rdTime">10 min read</bdi></div>
              </div>
            </div>
            <div class="pCm">
              <div class="pIc">
                <label class="sh tIc" for="forShare">
                  <svg class="line" viewBox="0 0 24 24">
                    <path
                      d="M92.30583,264.72053a3.42745,3.42745,0,0,1-.37,1.57,3.51,3.51,0,1,1,0-3.13995A3.42751,3.42751,0,0,1,92.30583,264.72053Z"
                      transform="translate(-83.28571 -252.73452)"></path>
                    <circle cx="18.48892" cy="5.49436" r="3.51099"></circle>
                    <circle cx="18.48892" cy="18.50564" r="3.51099"></circle>
                    <line class="cls-3" x1="12.53012" x2="8.65012" y1="8.476" y2="10.416"></line>
                    <line class="cls-3" x1="12.53012" x2="8.65012" y1="15.496" y2="13.556"></line>
                  </svg>
                </label>
              </div>
            </div>
          </div>
          <!-- post inner -->
          <div class="pInr">
            <div class="pAd">
            </div>
            <div class="pEnt" id="postID">
              <div class="pS post-body postBody" id="postBody">
                <!-- post content here -->
              </div>
              <div class="pAd">
              </div>

              <script>
                /*<![CDATA[*/
                function get_text(el) {
                  ret = '';
                  var length = el.childNodes.length;
                  for (var i = 0; i < length; i++) {
                    var node = el.childNodes[i];
                    if (node.nodeType != 8) {
                      ret += node.nodeType != 1 ? node.nodeValue : get_text(node);
                    }
                  }
                  return ret;
                }
                var words = get_text(document.getElementById('postBody'));
                var count = words.split(' ').length;
                var avg = 200;
                var counted = count / avg;
                var maincount = Math.round(counted);
                document.getElementById('rdTime').innerHTML = maincount + ' min read'; /*]]>*/
              </script>
              <div class="pSh">
                <div class="pShc" data-text="Share:">
                  <a aria-label="Facebook" class="c fb" data-text="Share"
                    href="https://www.facebook.com/sharer.php?u=https://learngraduation.blogspot.com/2023/04/boolean-algebra-notes-pdf-download.html"
                    rel="noopener" role="button" target="_blank">
                    <svg viewBox="0 0 64 64">
                      <path
                        d="M20.1,36h3.4c0.3,0,0.6,0.3,0.6,0.6V58c0,1.1,0.9,2,2,2h7.8c1.1,0,2-0.9,2-2V36.6c0-0.3,0.3-0.6,0.6-0.6h5.6 c1,0,1.9-0.7,2-1.7l1.3-7.8c0.2-1.2-0.8-2.4-2-2.4h-6.6c-0.5,0-0.9-0.4-0.9-0.9v-5c0-1.3,0.7-2,2-2h5.9c1.1,0,2-0.9,2-2V6.2 c0-1.1-0.9-2-2-2h-7.1c-13,0-12.7,10.5-12.7,12v7.3c0,0.3-0.3,0.6-0.6,0.6h-3.4c-1.1,0-2,0.9-2,2v7.8C18.1,35.1,19,36,20.1,36z">
                      </path>
                    </svg>
                  </a>
                  <a aria-label="Whatsapp" class="c wa" data-text="Share"
                    href="https://api.whatsapp.com/send?text=https://learngraduation.blogspot.com/2023/04/boolean-algebra-notes-pdf-download.html"
                    rel="noopener" role="button" target="_blank">
                    <svg viewBox="0 0 24 24">
                      <path
                        d="M16.75 13.96c.25.13.41.2.46.3.06.11.04.61-.21 1.18-.2.56-1.24 1.1-1.7 1.12-.46.02-.47.36-2.96-.73-2.49-1.09-3.99-3.75-4.11-3.92-.12-.17-.96-1.38-.92-2.61.05-1.22.69-1.8.95-2.04.24-.26.51-.29.68-.26h.47c.15 0 .36-.06.55.45l.69 1.87c.06.13.1.28.01.44l-.27.41-.39.42c-.12.12-.26.25-.12.5.12.26.62 1.09 1.32 1.78.91.88 1.71 1.17 1.95 1.3.24.14.39.12.54-.04l.81-.94c.19-.25.35-.19.58-.11l1.67.88M12 2a10 10 0 0 1 10 10 10 10 0 0 1-10 10c-1.97 0-3.8-.57-5.35-1.55L2 22l1.55-4.65A9.969 9.969 0 0 1 2 12 10 10 0 0 1 12 2m0 2a8 8 0 0 0-8 8c0 1.72.54 3.31 1.46 4.61L4.5 19.5l2.89-.96A7.95 7.95 0 0 0 12 20a8 8 0 0 0 8-8 8 8 0 0 0-8-8z">
                      </path>
                    </svg>
                  </a>
                  <a aria-label="Twitter" class="c tw" data-text="Tweet"
                    href="https://twitter.com/share?url=https://learngraduation.blogspot.com/2023/04/boolean-algebra-notes-pdf-download.html"
                    rel="noopener" role="button" target="_blank">
                    <svg viewBox="0 0 64 64">
                      <path
                        d="M11.4,26.6C11.5,26.6,11.5,26.6,11.4,26.6c-0.9,0-1.8-0.2-2.6-0.4c-1.3-0.4-2.5,0.8-2.1,2 c1.1,4.3,4.5,7.7,8.8,8.6c-1,0.3-2,0.4-3,0.4c-1,0-1.7,1.1-1.2,2c1.9,3.5,5.6,5.9,9.7,6h1c1.1,0,2,0.9,2,2c0,1.1-0.9,2-2,2 c-1.3,0-2.9-0.1-4.5-0.5c-1-0.2-2-0.2-2.9,0.1c-1.7,0.6-3.5,1.1-5.4,1.3C8.5,50.2,8,50.7,8,51.4v0c0,0.5,0.3,1,0.8,1.2 c3.9,1.7,8.3,2.7,12.9,2.7c21.1,0,32.7-17.9,32.7-33.5v0c0-0.9,0.4-1.8,1.1-2.4c1.2-1,2.3-2.1,3.3-3.4c0.4-0.5-0.1-1.2-0.7-1 c-1.2,0.4-2.4,0.7-3.7,0.9c-0.2,0-0.3-0.2-0.1-0.4c1.5-1.1,2.8-2.6,3.6-4.3c0.3-0.6-0.3-1.2-0.9-0.9c-1.1,0.6-2.3,1-3.5,1.4 c-1.2,0.4-2.6,0.1-3.6-0.7c-1.9-1.5-4.4-2.4-7-2.4c-5.3,0-9.8,3.7-11.1,8.8c-0.2,0.9,0.5,1.7,1.4,1.7c1.6-0.1,3.2-0.3,4.4-0.5 c1-0.2,2,0.3,2.4,1.2c0.5,1.2-0.2,2.4-1.3,2.7c-4.6,1.3-9.7,0.4-9.7,0.4l0,0C21.2,21.8,14.3,18,9.3,12.5C8.6,11.7,7.3,12,7,12.9 c-0.4,1.2-0.6,2.5-0.6,3.9C6.4,20.9,8.4,24.5,11.4,26.6z">
                      </path>
                    </svg>
                  </a>
                  <label aria-label="Share to other apps" for="forShare">
                    <svg class="line" viewBox="0 0 24 24">
                      <path
                        d="M92.30583,264.72053a3.42745,3.42745,0,0,1-.37,1.57,3.51,3.51,0,1,1,0-3.13995A3.42751,3.42751,0,0,1,92.30583,264.72053Z"
                        transform="translate(-83.28571 -252.73452)"></path>
                      <circle cx="18.48892" cy="5.49436" r="3.51099"></circle>
                      <circle cx="18.48892" cy="18.50564" r="3.51099"></circle>
                      <line class="cls-3" x1="12.53012" x2="8.65012" y1="8.476" y2="10.416"></line>
                      <line class="cls-3" x1="12.53012" x2="8.65012" y1="15.496" y2="13.556"></line>
                    </svg>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </article>

<!-- post share -->
        <div class="pFoot">
          <input class="shIn fixi hidden" id="forShare" type="checkbox">
          <div class="shBr fixL">
            <div class="shBri fixLi">
              <div class="shBrs fixLs">
                <div class="shH fixH fixT" data-text="Share to other apps">
                  <label aria-label="Close" class="c cl" for="forShare"></label>
                </div>
                <div class="sharePreview">
                  <div class="previewImg lazy loaded"
                    data-style="background-image: url(https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiUL77Rz203doYBEbISo2tXJp7ssL_-OinAuzqO2aTZcpt9Gnnxi_s39hmK3Zs26IR95LUc4T5Mn1glCefGwakqcm8fVoPjRcCMmXk5z385wsM206Kfj87s3h8qxuGYT5KPWsQ9YAvkgc_GXqFQYC2v_9bw2rIQbxSDy1QitbWkbxMOg1hYLJYW9Ve2/w120-h120-p-k-no-nu/Boolean%20Algebra.png)"
                    lazied=""
                    style="background-image: url(&quot;https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiUL77Rz203doYBEbISo2tXJp7ssL_-OinAuzqO2aTZcpt9Gnnxi_s39hmK3Zs26IR95LUc4T5Mn1glCefGwakqcm8fVoPjRcCMmXk5z385wsM206Kfj87s3h8qxuGYT5KPWsQ9YAvkgc_GXqFQYC2v_9bw2rIQbxSDy1QitbWkbxMOg1hYLJYW9Ve2/w120-h120-p-k-no-nu/Boolean%20Algebra.png&quot;);">
                  </div>
                  <div class="previewContent">
                    <div class="previewTitle" data-text="Boolean Algebra Notes PDF 📑 Download"></div>
                    <div class="previewLabel">
                      <span data-text="#Bsc"></span>
                    </div>
                  </div>
                </div>
                <div class="shC">
                  <div class="shL">
                    <div data-text="Facebook">
                      <a aria-label="Facebook"
                        href="https://www.facebook.com/sharer.php?u=https://learngraduation.blogspot.com/2023/04/boolean-algebra-notes-pdf-download.html"
                        rel="noopener" target="_blank">
                        <svg viewBox="0 0 64 64">
                          <path
                            d="M20.1,36h3.4c0.3,0,0.6,0.3,0.6,0.6V58c0,1.1,0.9,2,2,2h7.8c1.1,0,2-0.9,2-2V36.6c0-0.3,0.3-0.6,0.6-0.6h5.6 c1,0,1.9-0.7,2-1.7l1.3-7.8c0.2-1.2-0.8-2.4-2-2.4h-6.6c-0.5,0-0.9-0.4-0.9-0.9v-5c0-1.3,0.7-2,2-2h5.9c1.1,0,2-0.9,2-2V6.2 c0-1.1-0.9-2-2-2h-7.1c-13,0-12.7,10.5-12.7,12v7.3c0,0.3-0.3,0.6-0.6,0.6h-3.4c-1.1,0-2,0.9-2,2v7.8C18.1,35.1,19,36,20.1,36z">
                          </path>
                        </svg>
                      </a>
                    </div>
                    <div data-text="WhatsApp">
                      <a aria-label="Whatsapp"
                        href="https://api.whatsapp.com/send?text=https://learngraduation.blogspot.com/2023/04/boolean-algebra-notes-pdf-download.html"
                        rel="noopener" target="_blank">
                        <svg viewBox="0 0 24 24">
                          <path
                            d="M16.75 13.96c.25.13.41.2.46.3.06.11.04.61-.21 1.18-.2.56-1.24 1.1-1.7 1.12-.46.02-.47.36-2.96-.73-2.49-1.09-3.99-3.75-4.11-3.92-.12-.17-.96-1.38-.92-2.61.05-1.22.69-1.8.95-2.04.24-.26.51-.29.68-.26h.47c.15 0 .36-.06.55.45l.69 1.87c.06.13.1.28.01.44l-.27.41-.39.42c-.12.12-.26.25-.12.5.12.26.62 1.09 1.32 1.78.91.88 1.71 1.17 1.95 1.3.24.14.39.12.54-.04l.81-.94c.19-.25.35-.19.58-.11l1.67.88M12 2a10 10 0 0 1 10 10 10 10 0 0 1-10 10c-1.97 0-3.8-.57-5.35-1.55L2 22l1.55-4.65A9.969 9.969 0 0 1 2 12 10 10 0 0 1 12 2m0 2a8 8 0 0 0-8 8c0 1.72.54 3.31 1.46 4.61L4.5 19.5l2.89-.96A7.95 7.95 0 0 0 12 20a8 8 0 0 0 8-8 8 8 0 0 0-8-8z">
                          </path>
                        </svg>
                      </a>
                    </div>
                    <div data-text="Twitter">
                      <a aria-label="Twitter"
                        href="https://twitter.com/share?url=https://learngraduation.blogspot.com/2023/04/boolean-algebra-notes-pdf-download.html"
                        rel="noopener" target="_blank">
                        <svg viewBox="0 0 64 64">
                          <path
                            d="M11.4,26.6C11.5,26.6,11.5,26.6,11.4,26.6c-0.9,0-1.8-0.2-2.6-0.4c-1.3-0.4-2.5,0.8-2.1,2 c1.1,4.3,4.5,7.7,8.8,8.6c-1,0.3-2,0.4-3,0.4c-1,0-1.7,1.1-1.2,2c1.9,3.5,5.6,5.9,9.7,6h1c1.1,0,2,0.9,2,2c0,1.1-0.9,2-2,2 c-1.3,0-2.9-0.1-4.5-0.5c-1-0.2-2-0.2-2.9,0.1c-1.7,0.6-3.5,1.1-5.4,1.3C8.5,50.2,8,50.7,8,51.4v0c0,0.5,0.3,1,0.8,1.2 c3.9,1.7,8.3,2.7,12.9,2.7c21.1,0,32.7-17.9,32.7-33.5v0c0-0.9,0.4-1.8,1.1-2.4c1.2-1,2.3-2.1,3.3-3.4c0.4-0.5-0.1-1.2-0.7-1 c-1.2,0.4-2.4,0.7-3.7,0.9c-0.2,0-0.3-0.2-0.1-0.4c1.5-1.1,2.8-2.6,3.6-4.3c0.3-0.6-0.3-1.2-0.9-0.9c-1.1,0.6-2.3,1-3.5,1.4 c-1.2,0.4-2.6,0.1-3.6-0.7c-1.9-1.5-4.4-2.4-7-2.4c-5.3,0-9.8,3.7-11.1,8.8c-0.2,0.9,0.5,1.7,1.4,1.7c1.6-0.1,3.2-0.3,4.4-0.5 c1-0.2,2,0.3,2.4,1.2c0.5,1.2-0.2,2.4-1.3,2.7c-4.6,1.3-9.7,0.4-9.7,0.4l0,0C21.2,21.8,14.3,18,9.3,12.5C8.6,11.7,7.3,12,7,12.9 c-0.4,1.2-0.6,2.5-0.6,3.9C6.4,20.9,8.4,24.5,11.4,26.6z">
                          </path>
                        </svg>
                      </a>
                    </div>
                    <div data-text="Telegram">
                      <a aria-label="Telegram"
                        href="https://t.me/share/url?url=https://learngraduation.blogspot.com/2023/04/boolean-algebra-notes-pdf-download.html"
                        rel="noopener" target="_blank">
                        <svg viewBox="0 0 64 64">
                          <path
                            d="M56.4,8.2l-51.2,20c-1.7,0.6-1.6,3,0.1,3.5l9.7,2.9c2.1,0.6,3.8,2.2,4.4,4.3l3.8,12.1c0.5,1.6,2.5,2.1,3.7,0.9 l5.2-5.3c0.9-0.9,2.2-1,3.2-0.3l11.5,8.4c1.6,1.2,3.9,0.3,4.3-1.7l8.7-41.8C60.4,9.1,58.4,7.4,56.4,8.2z M50,17.4L29.4,35.6 c-1.1,1-1.9,2.4-2,3.9c-0.2,1.5-2.3,1.7-2.8,0.3l-0.9-3c-0.7-2.2,0.2-4.5,2.1-5.7l23.5-14.6C49.9,16.1,50.5,16.9,50,17.4z">
                          </path>
                        </svg>
                      </a>
                    </div>
                    <div data-text="Pinterest">
                      <a aria-label="Pinterest" data-pin-config="beside"
                        href="https://pinterest.com/pin/create/button/?url=https://learngraduation.blogspot.com/2023/04/boolean-algebra-notes-pdf-download.html&amp;media=https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiUL77Rz203doYBEbISo2tXJp7ssL_-OinAuzqO2aTZcpt9Gnnxi_s39hmK3Zs26IR95LUc4T5Mn1glCefGwakqcm8fVoPjRcCMmXk5z385wsM206Kfj87s3h8qxuGYT5KPWsQ9YAvkgc_GXqFQYC2v_9bw2rIQbxSDy1QitbWkbxMOg1hYLJYW9Ve2/w1600/Boolean%20Algebra.png"
                        rel="noopener" target="_blank">
                        <svg viewBox="0 0 64 64">
                          <path
                            d="M14.4,53.8c2.4,2,6.1,0.6,6.8-2.4l0-0.1c0.4-1.8,2.4-10.2,3.2-13.7c0.2-0.9,0.2-1.8-0.1-2.7 C24.2,34,24,32.8,24,31.5c0-4.1,2.4-7.2,5.4-7.2c2.5,0,3.8,1.9,3.8,4.2c0,2.6-1.6,6.4-2.5,9.9c-0.7,3,1.5,5.4,4.4,5.4 c5.3,0,8.9-6.8,8.9-14.9c0-6.1-4.1-10.7-11.6-10.7c-8.5,0-13.8,6.3-13.8,13.4c0,2.4,0.7,4.2,1.8,5.5c0.5,0.6,0.6,0.9,0.4,1.6 c-0.1,0.5-0.4,1.8-0.6,2.2c-0.2,0.7-0.8,1-1.4,0.7c-3.9-1.6-5.7-5.9-5.7-10.7c0-8,6.7-17.5,20-17.5c10.7,0,17.7,7.7,17.7,16 c0,11-6.1,19.2-15.1,19.2c-1.9,0-3.8-0.7-5.2-1.6c-0.9-0.6-2.1-0.1-2.4,0.9c-0.5,1.9-1.1,4.3-1.3,4.9c-0.1,0.5-0.3,0.9-0.4,1.4 c-1,2.7,0.9,5.5,3.7,5.7c2.1,0.1,4.2,0,6.3-0.3c12.4-2,22.1-12.2,23.4-24.7C61.5,18.1,48.4,4,32,4C16.5,4,4,16.5,4,32 C4,40.8,8.1,48.6,14.4,53.8z">
                          </path>
                        </svg>
                      </a>
                    </div>
                    <div data-text="LinkedIn">
                      <a aria-label="Linkedin"
                        href="https://www.linkedin.com/sharing/share-offsite/?url=https://learngraduation.blogspot.com/2023/04/boolean-algebra-notes-pdf-download.html"
                        rel="noopener" target="_blank">
                        <svg viewBox="0 0 64 64">
                          <path
                            d="M8,54.7C8,55.4,8.6,56,9.3,56h9.3c0.7,0,1.3-0.6,1.3-1.3V23.9c0-0.7-0.6-1.3-1.3-1.3H9.3 c-0.7,0-1.3,0.6-1.3,1.3V54.7z">
                          </path>
                          <path
                            d="M46.6,22.3c-4.5,0-7.7,1.8-9.4,3.7c-0.4,0.4-1.1,0.1-1.1-0.5l0-1.6c0-0.7-0.6-1.3-1.3-1.3h-9.4 c-0.7,0-1.3,0.6-1.3,1.3c0.1,5.7,0,25.4,0,30.7c0,0.7,0.6,1.3,1.3,1.3h9.5c0.7,0,1.3-0.6,1.3-1.3V37.9c0-1,0-2,0.3-2.7 c0.8-2,2.6-4.1,5.7-4.1c4.1,0,6,3.1,6,7.6v15.9c0,0.7,0.6,1.3,1.3,1.3h9.3c0.7,0,1.3-0.6,1.3-1.3V37.4C60,27.1,54.1,22.3,46.6,22.3 z">
                          </path>
                          <path
                            d="M13.9,18.9L13.9,18.9c3.8,0,6.1-2.4,6.1-5.4C19.9,10.3,17.7,8,14,8c-3.7,0-6,2.3-6,5.4 C8,16.5,10.3,18.9,13.9,18.9z">
                          </path>
                        </svg>
                      </a>
                    </div>
                    <div data-text="Line">
                      <a aria-label="Line"
                        href="https://timeline.line.me/social-plugin/share?url=https://learngraduation.blogspot.com/2023/04/boolean-algebra-notes-pdf-download.html"
                        rel="noopener" target="_blank">
                        <svg viewBox="0 0 24 24">
                          <path
                            d="M19.365 9.863c.349 0 .63.285.63.631 0 .345-.281.63-.63.63H17.61v1.125h1.755c.349 0 .63.283.63.63 0 .344-.281.629-.63.629h-2.386c-.345 0-.627-.285-.627-.629V8.108c0-.345.282-.63.63-.63h2.386c.346 0 .627.285.627.63 0 .349-.281.63-.63.63H17.61v1.125h1.755zm-3.855 3.016c0 .27-.174.51-.432.596-.064.021-.133.031-.199.031-.211 0-.391-.09-.51-.25l-2.443-3.317v2.94c0 .344-.279.629-.631.629-.346 0-.626-.285-.626-.629V8.108c0-.27.173-.51.43-.595.06-.023.136-.033.194-.033.195 0 .375.104.495.254l2.462 3.33V8.108c0-.345.282-.63.63-.63.345 0 .63.285.63.63v4.771zm-5.741 0c0 .344-.282.629-.631.629-.345 0-.627-.285-.627-.629V8.108c0-.345.282-.63.63-.63.346 0 .628.285.628.63v4.771zm-2.466.629H4.917c-.345 0-.63-.285-.63-.629V8.108c0-.345.285-.63.63-.63.348 0 .63.285.63.63v4.141h1.756c.348 0 .629.283.629.63 0 .344-.282.629-.629.629M24 10.314C24 4.943 18.615.572 12 .572S0 4.943 0 10.314c0 4.811 4.27 8.842 10.035 9.608.391.082.923.258 1.058.59.12.301.079.766.038 1.08l-.164 1.02c-.045.301-.24 1.186 1.049.645 1.291-.539 6.916-4.078 9.436-6.975C23.176 14.393 24 12.458 24 10.314">
                          </path>
                        </svg>
                      </a>
                    </div>
                    <div data-text="Email">
                      <a aria-label="Email"
                        href="mailto:?body=https://learngraduation.blogspot.com/2023/04/boolean-algebra-notes-pdf-download.html"
                        target="_blank">
                        <svg viewBox="0 0 500 500">
                          <path
                            d="M468.051,222.657c0-12.724-5.27-24.257-13.717-32.527 L282.253,45.304c-17.811-17.807-46.702-17.807-64.505,0L45.666,190.129c-8.448,8.271-13.717,19.803-13.717,32.527v209.054 c0,20.079,16.264,36.341,36.34,36.341h363.421c20.078,0,36.34-16.262,36.34-36.341V222.657z M124.621,186.402h250.758 c11.081,0,19.987,8.905,19.987,19.991v34.523c-0.088,4.359-1.818,8.631-5.181,11.997l-55.966,56.419l83.224,83.127 c6.904,6.904,6.904,18.081,0,24.985s-18.085,6.904-24.985,0l-85.676-85.672H193.034l-85.492,85.672 c-6.907,6.904-18.081,6.904-24.985,0c-6.906-6.904-6.906-18.081,0-24.985l83.131-83.127l-55.875-56.419 c-3.638-3.638-5.363-8.358-5.181-13.177v-33.343C104.632,195.307,113.537,186.402,124.621,186.402z">
                          </path>
                        </svg>
                      </a>
                    </div>
                  </div>
                  <div class="cpL" data-message="Copy to clipboard" data-text="or copy link">
                    <div class="cpLb">
                      <svg class="line" viewBox="0 0 24 24">
                        <path
                          d="M13.0601 10.9399C15.3101 13.1899 15.3101 16.8299 13.0601 19.0699C10.8101 21.3099 7.17009 21.3199 4.93009 19.0699C2.69009 16.8199 2.68009 13.1799 4.93009 10.9399">
                        </path>
                        <path
                          d="M10.59 13.4099C8.24996 11.0699 8.24996 7.26988 10.59 4.91988C12.93 2.56988 16.73 2.57988 19.08 4.91988C21.43 7.25988 21.42 11.0599 19.08 13.4099">
                        </path>
                      </svg>
                      <input id="getlink" onclick="this.select()" readonly="readonly"
                        value="https://learngraduation.blogspot.com/2023/04/boolean-algebra-notes-pdf-download.html">
                      <label for="getlink" onclick="copyFunction()">Copy</label>
                    </div>
                    <div class="cpLn" id="cpNotif"></div>
                    <script>
                      function copyFunction() {
                        document.getElementById('getlink').select(), document.execCommand('copy'), document
                          .getElementById('cpNotif').innerHTML = '<span>Link copied to clipboard!</span>'
                      };
                    </script>
                  </div>
                </div>
              </div>
            </div>
            <label class="fCls" for="forShare"></label>
          </div>

          <!-- related post -->
          <div class="rPst" id="rPst">
            <h2 class="title">You may like these posts</h2>
            <ul class="s-4 scrlH">
              <li>
                <div class="i">
                  <div class="pThmb"><a class="thmb" aria-label="Vector-valued functions and differentiation of vector"
                      href="https://learngraduation.blogspot.com/2021/03/vector-valued-functions-and.html"
                      title="Vector-valued functions and differentiation of vector">
                      <div class="lazy loaded"
                        data-style="background-image: url(//1.bp.blogspot.com/-Cfg8hpSZ5wo/YEjY54-8IBI/AAAAAAAACGI/3Ns0YxIGqNskYWBc2N_DmpLKbXFplL3ZQCLcBGAsYHQ/s300/IMG_20210310_200341.jpg)"
                        lazied=""
                        style="background-image: url(&quot;//1.bp.blogspot.com/-Cfg8hpSZ5wo/YEjY54-8IBI/AAAAAAAACGI/3Ns0YxIGqNskYWBc2N_DmpLKbXFplL3ZQCLcBGAsYHQ/s300/IMG_20210310_200341.jpg&quot;);">
                      </div>
                    </a></div>
                  <div class="iTtl aTtl"><a
                      href="https://learngraduation.blogspot.com/2021/03/vector-valued-functions-and.html">Vector-valued
                      functions and differentiation of vector</a></div>
                  <div class="pSnpt">Vector valued functions and differentiation of vectorVector-Valued Functions🔗We
                    are very familiar with&nbsp;real valued functions, that is, functions whose output is a real number.
                    Thi…</div>
                  <div class="pInf pSml" data-date="Mar 9, 2021"></div>
                </div>
              </li>
              <li>
                <div class="i">
                  <div class="pThmb"><a class="thmb" aria-label=" Subtraction of fractions (भिन्न का घटाव) "
                      href="https://learngraduation.blogspot.com/2021/04/SubtractionOfFractions.html"
                      title=" Subtraction of fractions (भिन्न का घटाव) ">
                      <div class="lazy loaded"
                        data-style="background-image: url(//lh3.googleusercontent.com/-9PW03KdXvB0/YLX_Z8y_P5I/AAAAAAAACco/YWLaUCso1JYmnuNsNW87JMxZ93U17VVLgCLcBGAsYHQ/s300-w200-h113-c/image.png)"
                        lazied=""
                        style="background-image: url(&quot;//lh3.googleusercontent.com/-9PW03KdXvB0/YLX_Z8y_P5I/AAAAAAAACco/YWLaUCso1JYmnuNsNW87JMxZ93U17VVLgCLcBGAsYHQ/s300-w200-h113-c/image.png&quot;);">
                      </div>
                    </a></div>
                  <div class="iTtl aTtl"><a
                      href="https://learngraduation.blogspot.com/2021/04/SubtractionOfFractions.html"> Subtraction of
                      fractions (भिन्न का घटाव) </a></div>
                  <div class="pSnpt">&nbsp;5. Subtraction of fractions (भिन्न का घटाव) :-आप उपरोक्त विधि से ही घटाव की
                    क्रिया भी करते हैं। केवल इतना ध्यान रखें कि जहाँ-जहाँ आपने जोड़ने का काम किया था वहाँ-वहाँ घटाने
                    (subtr…</div>
                  <div class="pInf pSml" data-date="Apr 5, 2021"></div>
                </div>
              </li>
              <li>
                <div class="i">
                  <div class="pThmb"><a class="thmb" aria-label="Vector Integration"
                      href="https://learngraduation.blogspot.com/2021/03/vector-integration.html"
                      title="Vector Integration">
                      <div class="lazy loaded"
                        data-style="background-image: url(//1.bp.blogspot.com/-wl5FtirHChY/YEeGL7hvfQI/AAAAAAAACFE/Nh5URA5iBSEaVHYtN3DxEoxU5KeZJk6jgCLcBGAsYHQ/s300/IMG_20210309_195720.jpg)"
                        lazied=""
                        style="background-image: url(&quot;//1.bp.blogspot.com/-wl5FtirHChY/YEeGL7hvfQI/AAAAAAAACFE/Nh5URA5iBSEaVHYtN3DxEoxU5KeZJk6jgCLcBGAsYHQ/s300/IMG_20210309_195720.jpg&quot;);">
                      </div>
                    </a></div>
                  <div class="iTtl aTtl"><a
                      href="https://learngraduation.blogspot.com/2021/03/vector-integration.html">Vector Integration</a>
                  </div>
                  <div class="pSnpt">&nbsp;Vector IntegrationNotesVector Calculus FormulasSome of the important vector
                    calculus formulas are given below:From fundamental theorems, we take,F(x, y, z) = P(x, y, z)i + Q(x,
                    y,…</div>
                  <div class="pInf pSml" data-date="Mar 9, 2021"></div>
                </div>
              </li>
              <li>
                <div class="i">
                  <div class="pThmb"><a class="thmb"
                      aria-label="How to find cube of any number Easly ? ||  धन (cube) निकालना  😂 "
                      href="https://learngraduation.blogspot.com/2021/06/how-to-find-cube-of-any-number-easly-n.html"
                      title="How to find cube of any number Easly ? ||  धन (cube) निकालना  😂 ">
                      <div class="lazy loaded"
                        data-style="background-image: url(//1.bp.blogspot.com/-TkQX7sIbGAs/YLdfN3O84AI/AAAAAAAACc0/eYuBMNhJ46U17HATw4zgV6RhiHy9bY6vwCLcBGAsYHQ/s300-w640-h202-c/IMG_20210602_160510.jpg)"
                        lazied=""
                        style="background-image: url(&quot;//1.bp.blogspot.com/-TkQX7sIbGAs/YLdfN3O84AI/AAAAAAAACc0/eYuBMNhJ46U17HATw4zgV6RhiHy9bY6vwCLcBGAsYHQ/s300-w640-h202-c/IMG_20210602_160510.jpg&quot;);">
                      </div>
                    </a></div>
                  <div class="iTtl aTtl"><a
                      href="https://learngraduation.blogspot.com/2021/06/how-to-find-cube-of-any-number-easly-n.html">How
                      to find cube of any number Easly ? || धन (cube) निकालना 😂 </a></div>
                  <div class="pSnpt">धन (cube) निकालनाकिसी दो अंक की संख्या का धन निकालने के लिए आप सबसे पहले दहाई अंक
                    का धन (cube) लिखें।अब उस संख्या के अंकों के बीच का अनुपात ज्ञात करें। जैसे (48) में सबसे पहले हमन…
                  </div>
                  <div class="pInf pSml" data-date="Jun 2, 2021"></div>
                </div>
              </li>
              <li>
                <div class="i">
                  <div class="pThmb"><a class="thmb" aria-label="वर्ग (Square)"
                      href="https://learngraduation.blogspot.com/2021/06/square.html" title="वर्ग (Square)">
                      <div class="lazy loaded"
                        data-style="background-image: url(//1.bp.blogspot.com/-quYklbb2HaQ/YFiLbPAr7aI/AAAAAAAACII/d20wVx-IEdsO6caWFaKmrCWPBrM1rVaBwCPcBGAYYCw/s300-w200-h52-c/next%2Bpage.webp)"
                        lazied=""
                        style="background-image: url(&quot;//1.bp.blogspot.com/-quYklbb2HaQ/YFiLbPAr7aI/AAAAAAAACII/d20wVx-IEdsO6caWFaKmrCWPBrM1rVaBwCPcBGAYYCw/s300-w200-h52-c/next%2Bpage.webp&quot;);">
                      </div>
                    </a></div>
                  <div class="iTtl aTtl"><a href="https://learngraduation.blogspot.com/2021/06/square.html">वर्ग
                      (Square)</a></div>
                  <div class="pSnpt">वर्ग (Square)वर्ग कैसे निकालते हैं?वर्ग&nbsp;(Square) ज्यामिति की एक आकृति है। यदि
                    किसी चतुर्भुज की चारों भुजाएं बराबर हों और चारो कोण समकोण हों तो उस चतुर्भुज को वर्ग कहते है।&nbsp;1
                    का वर्…</div>
                  <div class="pInf pSml" data-date="Jun 1, 2021"></div>
                </div>
              </li>
              <li>
                <div class="i">
                  <div class="pThmb"><a class="thmb" aria-label="Gradient Divergence And Curl"
                      href="https://learngraduation.blogspot.com/2021/03/GradienDivergenceAndCurl.html"
                      title="Gradient Divergence And Curl">
                      <div class="lazy loaded"
                        data-style="background-image: url(//1.bp.blogspot.com/-DCMWsxgXROE/YEeGEBMN6xI/AAAAAAAACE8/_0IABPfHyYMxL5B2CCDZ6QHyrDyJuegoQCLcBGAsYHQ/s300/IMG_20210309_195619.jpg)"
                        lazied=""
                        style="background-image: url(&quot;//1.bp.blogspot.com/-DCMWsxgXROE/YEeGEBMN6xI/AAAAAAAACE8/_0IABPfHyYMxL5B2CCDZ6QHyrDyJuegoQCLcBGAsYHQ/s300/IMG_20210309_195619.jpg&quot;);">
                      </div>
                    </a></div>
                  <div class="iTtl aTtl"><a
                      href="https://learngraduation.blogspot.com/2021/03/GradienDivergenceAndCurl.html">Gradient
                      Divergence And Curl</a></div>
                  <div class="pSnpt">&nbsp;Gradient divergence and curl and expansion formulae involving themBook 📚 pdf

                    NotesGradient, Divergence and Curl:&nbsp;the Basics We first consider the position vector,&nbsp;r: r
                    = x x + y…</div>
                  <div class="pInf pSml" data-date="Mar 1, 2021"></div>
                </div>
              </li>
            </ul>
          </div>
          <div class="pCmnts" id="comment">
            <input class="cmSh fixi hidden" id="forComments" type="checkbox">
            <div class="cmShw">
              <label class="cmBtn button ln" for="forComments">
                Post a Comment
              </label>
            </div>
            <section class="cm cmBr fixL" data-embed="true" data-num-comments="0" id="comments">
              <div class="cmBri mty">
                <div class="cmBrs fixLs">
                  <div class="cmH fixH">
                    <h3 class="title">
                      Post a Comment
                    </h3>
                    <div class="cmI cl">
                      <label aria-label="Close" class="c" for="forComments"></label>
                    </div>
                  </div>
                  <div class="cmC">
                    <script>
                      var comment = false;
                    </script>
                    <div class="cmFrm">
                      <div id="commentForm">
                        <a aria-label="Comment Form"
                          href="https://www.blogger.com/comment/frame/6482790797019347133?po=5617172536820957755&amp;hl=en&amp;skin=contempo&amp;skin=contempo"
                          id="comment-editor-src"></a>
                        <iframe class="blogger-iframe-colorize blogger-comment-from-post lazy"
                          data-src="https://www.blogger.com/comment/frame/6482790797019347133?po=5617172536820957755&amp;hl=en&amp;skin=contempo&amp;skin=contempo"
                          height="296" id="comment-editor" name="comment-editor" title="Blogger comment" width="100"
                          src="https://www.blogger.com/comment/frame/6482790797019347133?po=5617172536820957755&amp;hl=en&amp;skin=contempo&amp;skin=contempo"
                          lazied=""></iframe>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <label class="fCls" for="forComments"></label>
            </section>
            <script>
              /*<![CDATA[*/
              document.addEventListener('DOMContentLoaded', function () {
                var a = document,
                  b = a.getElementById('comment-editor'),
                  d = b.getAttribute('data-src');
                if (b.setAttribute('src', d), 1 == comment) {
                  var f = a.getElementsByClassName('rpTo'),
                    c = a.getElementById('commentForm'),
                    h = f.length,
                    k = function (b, d, e, f) {
                      b.addEventListener('click', function () {
                        var c = b.getAttribute('data-reply-to');
                        a.getElementById('c' + c).appendChild(d);
                        a.getElementById('commentForm').className = 'cmRbox';
                        a.getElementById('addCm').className = 'cmAd';
                        e.src = f + '&parentID=' + c
                      })
                    };
                  for (i = 0; i < h; i++) k(f[i], c, b, d);
                  var l = a.getElementsByClassName('cmFrm')[0];
                  a.getElementById('addCm').addEventListener('click', function () {
                    l.appendChild(c);
                    a.getElementById('commentForm').className = 'cmRbox';
                    a.getElementById('addCm').className = 'cmAd hidden';
                    b.src = d
                  })
                }
              }); /*]]>*/
            </script>
            <script>
              /*<![CDATA[*/ /* Comment tag, */
              function repText(id) {
                var a = document.getElementById(id);
                if (!a) return;
                var b = a.innerHTML;
                b = b.replace(/<i rel="image">(.*?)<\/i>/ig,
                  "<img class='lazy' data-src='$1' src='data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=' alt='Image Comment' \/>"
                );
                a.innerHTML = b;
              }
              repText('cmHolder'); /*]]>*/
            </script>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>