
body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

#editor {

    height: 50vh;
    padding: 10px;
    border: 1px solid #ccc;
    font-family: monospace;
    margin-bottom: 20px;
}
input:required:invalid {
  border: 1px solid red;
}
